@tailwind base;
@tailwind components;
@tailwind utilities;

.images-container {
  padding: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
.images-container div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  max-width: 300px;
  margin: 0.5vw;
}
.images-container div img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 400px) {
  .images-container div {
    margin: 0;
  }
  .images-container {
    padding: 0;
  }
}

.main-header {
  width: 100%;
}

.form-container {
  height: 100vh;
}

body {
  background: #959697 !important;
  color: #fff !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.me-container{
  width: 85%;
  height:  calc(100vh - 24px);
}